[submodule "sdks/ruby"]
	path = sdks/ruby
	url = https://github.com/makeorbreak-io/mob-ai-ruby.git
[submodule "sdks/python"]
	path = sdks/python
	url = https://github.com/makeorbreak-io/mob-ai-python.git
[submodule "sdks/nodejs"]
	path = sdks/nodejs
	url = https://github.com/makeorbreak-io/mob-ai-nodejs.git
[submodule "sdks/bash"]
	path = sdks/bash
	url = https://github.com/makeorbreak-io/mob-ai-bash.git
[submodule "sdks/java"]
	path = sdks/java
	url = https://github.com/makeorbreak-io/mob-ai-java.git
